@import "tailwindcss";

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply flex h-screen w-screen items-center justify-center bg-black;
}


.btn {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% + 2px);
  background-color: black;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: black;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn:hover {
  border: 2px solid #fefefe;
}

.btn .spn2 {
  position: relative;
  z-index: 3;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
